h1
  | News №#{@article.id}

= show_image(@article)

h3
  |<strong> #{ @article.title }: </strong>

h5
  | #{ @article.body }

h3 Comments

= render @article.comments
= render partial: 'comments/form', locals: { commentable: @article }

= link_to 'Back', :back
