- if current_user.follows?(sport)
  = button_to t('follows.unfollow'), sport_follows_path(sport), method: :delete, class: 'btn btn-default'
- else
  = button_to t('follows.follow'), sport_follows_path(sport), class: 'btn btn-primary'
