- if current_user.follows?(user)
  = button_to t('.unfollow'), user_follows_path(user), method: :delete, class: 'btn btn-default'
- else
  = button_to t('.follow'), user_follows_path(user), class: 'btn btn-success btn-sm'
