- if conversation(user).present?
  = link_to t('.message'), conversation_path(conversation(user)), class: 'btn btn-primary btn-sm'
- else
  = link_to t('.message'), user_conversations_path(user), method: :post, class: 'btn btn-primary btn-sm'
