@import 'user';
@import 'side_menu';
@import 'message';
@import 'footer';
@import 'bootstrap';
@import 'toastr';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}

.alert {
  margin-left: 12%;
}

.sign-in-footer {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%;
}

.aricle-show {
  background-color: white;
}

.article-header {
  margin-bottom: 15px;
}

.post-title {
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.panel.panel-default {
  width: 80%;
}

.panel-body {
  padding-top: 30px;
}

.battery-category {
  margin-top: 25%;
  font-size: 250px;
}

.message-form {
  left: 45%;
}

.conversation-userpic img {
  width: 10%;
}

.form-group {
  margin-top: 10px;
}

.reg-footer {
  border-top: 1px solid #999;
  padding-top: 20px;
}

.sign-in-footer {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size: 85%;
}

.width-card {
  width: 20rem;
}

.profile-content {
  font-size: 18px;
}

.tag_cloud {
  margin-top: 2em;
}

.subnav {
  list-style: none;
  padding-left: 0;
}

.comment-size {
  font-size: 28px;
}

.delete-con {
  float: right;
}

.nested_nav {
  padding-left: 1em;
}

.comment {
  margin: 7px 20px 20px 20px;
  background-color: Lavender;
}

.logout {
  float: right;
  background-color: #3e3d48;
  border-color: blue;
}

.login-link {
  float: right;
  font-size: 85%;
  position: relative;
  top: -10px;
}

.follow {
  float: right;
  border-color: blue;
}

.followers {
  margin-left: 15%;
}

.news {
  margin-left: 15%;
}

.leftimg {
  float: left;
  margin: 7px 20px 7px 20px;
}

.logout {
  float: right;
}

.content {
    flex-grow: 1;
}

html, body {
    height: 100%;
}

.empty-post {
  margin-bottom: 10%;
}

body {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: Lavender;
}

.margin-conversation {
  margin: 1.5px 1.5px 1.5px 1.5px;
}

.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid transparent;
  border-color: #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
  font-size: 22px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.indent-bottom {
  margin-bottom: 25px;
}

#btn-fblogin {
  margin-left: 20px;
}

#loginform {
  float: center;
}
