@import 'user';
@import 'message';
@import 'bootstrap';
@import 'toastr';
@import 'font-awesome-sprockets';
@import 'font-awesome';

.post {
  margin-bottom: 80px;
}

.alert {
  margin-left: 12%;
}

.sign-in-footer {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%;
}

.post-title {
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

.panel.panel-default {
  width: 80%;
}

.message-form {
  left: 45%;
}

.tag_cloud {
  margin-top: 2em;
}

.subnav {
  list-style: none;
  padding-left: 0;
}

.delete-con {
  float: right;
}

.sports {
  margin-left: 10px;
  margin-top: 20px;
}

.nested_nav {
  padding-left: 1em;
}
.comment {
  margin: 7px 20px 20px 20px;
  background-color: Lavender;
}
.logout {
  float: right;
  background-color: #3e3d48;
  border-color: blue;
}

.follow {
  float: right;
  border-color: blue;
}

.followers {
  margin-left: 15%;
}

.news {
  margin-left: 15%;
}

.leftimg {
  float: left;
  margin: 7px 20px 7px 20px;
}

.logout {
  float: right;
}

body {
  margin-top: 80px;
  background: linear-gradient(
    -180deg,#2fae90 0,#5185d3 34%,#5286d4 51%,#4b89cd 100%
  );
}
.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.panel {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 3px solid transparent;
  border-color: #bce8f1;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
  font-size: 22px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#btn-fblogin {
  margin-left: 20px;
}

#loginform {
  float: center;
}
