.nav-side-menu {
  font: 500 16px 'Roboto',sans-serif;
  background-color: #ef7c3d;
  top: 0px;
  height: auto;
}

.nav-side-menu a {
  color: white;
}

.nav-line{
  padding: 5px 40px 7px 18px;
  border-top: 5px solid #f29664;
}
